{% extends "layout.html" %}
{% block content %}
	<!-- content-section defined in main.css -->
	<div class="content-section">
		<!-- empty action filed lead to no action after form submission -->
		<form method="POST" action="">
			<!-- form is a function variable which instantiate RegisterForm class -->
			<!-- hidden_tag() is necessary method that adds CSRF token as part of the protection -->
			{{ form.hidden_tag() }}
			<!-- form-group is a Bootstrap class -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				<!-- displays username label -->
				<div class="form-group"> 
					{{ form.username.label(class="form-control-label") }}
				<!-- displays username field -->
				  {{ form.username(class="form-control form-control-lg mb-2") }} 
				</div>
				<div class="form-group"> 
					{{ form.email.label(class="form-control-label") }} 
					{{ form.email(class="form-control form-control-lg mb-2") }}
				</div>
				<div class="form-group"> 
					{{ form.password.label(class="form-control-label") }} 
					{{ form.password(class="form-control form-control-lg mb-2") }}
				</div>
				<div class="form-group"> 
					{{ form.confirm_password.label(class="form-control-label") }} 
					{{ form.confirm_password(class="form-control form-control-lg mb-2") }}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">
			<!-- login is the name of the function, not the route -->
			Alredy have an account? <a href="" class="ml-2" href="{{ url_for('login') }}">Login</a>
		</small>
	</div>
{% endblock content %}